<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">

    <!-- Tumblr Variables -->
    <meta name="if:Show Description" content="1">
    <meta name="if:Show Profile Image" content="1">
    <meta name="if:Enable Google Analytics" content="0">
    <meta name="color:Link Color" content="#33A6B8">
    <meta name="text:Twitter User ID" content="@">
    <meta name="text:Google Analytics ID" content="">

    <title>{block:PostSummary}{PostSummary} | {/block:PostSummary}{Title}</title>

    {block:Description}
      <meta name="description" content="{MetaDescription}">
    {/block:Description}
    {block:TagPage}
      <meta name="robots" content="noindex,follow">
    {/block:TagPage}
    {block:DayPage}
      <meta name="robots" content="noindex,follow">
    {/block:DayPage}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="shortcut icon" href="{Favicon}">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    <link rel="apple-touch-icon" href="{PortraitURL-128}">
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "style", :inline => "" %>
    <style>
      <% if environment == :build %>
        /* Link Color */
        a:hover {
          color: {color:Link Color};
        }
      <% end %>

      /* Custom CSS */
      {CustomCSS}
    </style>

    <%= partial "/partial/ogp" %>

    <%= javascript_include_tag "all", :inline => "" %>
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= partial "/partial/header" %>

    <%= yield %>

    <%= partial "/partial/footer" %>
    <%= partial "/partial/script" %>
  </body>
</html>